<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 order-5 order-lg-0">
        <div class="footer__wrapper">
          <div>
          <a href="" class="logo footer__logo">
            <svg>
              <use xlink:href="assets/img/sprite.svg#logo"></use>
            </svg>
          </a>
          <p class="footer__slogan">российсйий бренд - поставщик Refurbished-оборудования</p>
          </div>
        </div>
      </div>
      <div class="col-6 col-lg-2">
        <p class="footer-nav__caption">Компания</p>
        <ul class="footer-nav">
          <li class="footer-nav__item"><a href="" class="footer-nav__link">О компании</a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Продукция</a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Сервис</a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Контакты</a></li>
        </ul>
      </div>
      <div class="col-6 col-lg-3">
        <p class="footer-nav__caption">Продукция</p>
        <ul class="footer-nav">
          <li class="footer-nav__item"><a href="" class="footer-nav__link">ПК и ноутбуки</a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Мониторы и планшеты</a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Серверы и системы хранения данных</a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Сетевое и коммутационное оборудование</a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Телефония и ВКС</a></li>
        </ul>
      </div>
      <div class="col-xl-3 col-lg-4 offset-xl-1">
        <a href="tel:+74952350077" class="footer__link">+7 (495) 235-00-77</a>
        <a href="tel:+9123456789" class="footer__link">+7 (912) 345-67-89</a>
        <a href="mailto:info@vesnaelectronoca.ru" class="footer__link">info@vesnaelectronoca.ru</a>
        <address class="footer__link">Фактический адрес: 123112, г. Москва, Пресненская набережная, д. 12, ком. 29 а</address>
      </div>

    </div>
  </div>
</footer>
