<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="footer__wrapper">
          <div>
          <a href="" class="logo footer__logo">
            <svg>
              <use xlink:href="assets/img/sprite.svg#logo"></use>
            </svg>
          </a>
          <p class="footer__slogan">российский бренд-производитель IT-оборудования</p>
          </div>
          <div class="footer__info-links">
            <a href="">Где купить</a>
            <a href="">Поддержка</a>
          </div>
        </div>
      </div>
      <div class="col-lg-2">
        <ul class="footer-nav">
          <li class="footer-nav__item"><a href="" class="footer-nav__link">О компании</a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Услуги</a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Реализованные проекты</a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Контакты</a></li>
        </ul>
      </div>
      <div class="col-lg-2">
        <ul class="footer-nav">
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Клиентские устройства</a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Серверы</a></li>
          <li class="footer-nav__item"><a href="" class="footer-nav__link">Системы хранения</a></li>
        </ul>
      </div>
      <div class="col-lg-3">
        <a href="tel:+74952350077" class="footer__link">+7 (495) 235-00-77</a>
        <a href="mailto:info@vesnaelectronoca.ru" class="footer__link">info@vesnaelectronoca.ru</a>
        <address class="footer__link">123112, г. Москва, Пресненская набережная, д. 12, ком. 29 а</address>
      </div>
      <div class="col-lg-2">
        <button class="btn-reset btn footer__btn">Вход для партнеров</button>
      </div>
    </div>
  </div>
</footer>
