<header class="header">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-5">
        <div class="flex header__left">
          <a href="/" class="logo">
            <svg>
              <use xlink:href="assets/img/sprite.svg#logo"></use>
            </svg>
          </a>
<!--          <nav class="top-nav">-->
<!--            <ul class="top-nav__list">-->
<!--              <li class="top-nav__item"><a href="" class="top-nav__link">О компании</a></li>-->
<!--              <li class="top-nav__item"><a href="" class="top-nav__link">Услуги</a></li>-->
<!--              <li class="top-nav__item"><a href="" class="top-nav__link">Реализованные проекты</a></li>-->
<!--              <li class="top-nav__item"><a href="" class="top-nav__link">Контакты</a></li>-->
<!--            </ul>-->
<!--          </nav>-->
        </div>
      </div>
      <div class="col-7">
        <div class="header__phone header-phone">
          <a href="tel:+71234567890" class="header-phone__icon">
            <svg>
              <use xlink:href="assets/img/sprite.svg#icon-phone"></use>
            </svg>
          </a>
          <a href="tel:+74952350077" class="header-phone__link">+7 (495) 235-00-77</a>
        </div>
      </div>
    </div>
  </div>
</header>

<!--<nav class="second-menu">-->
<!--  <div class="container second-menu__container">-->
<!--    <div class="row position-static">-->
<!--      <div class="col-lg-4 position-static">-->
<!--        <ul class="second-menu__list">-->
<!--          <li class="second-menu__item">-->
<!--            <a href="" class="second-menu__link">Клиентские устройства</a>-->
<!--            <div class="sub-menu">-->
<!--              <ul class="sub-menu__list container">-->
<!--                <li class="sub-menu__item">-->
<!--                  Настольные ПК-->
<!--                  <ul class="third-level">-->
<!--                    <li class="third-level__item"><a href="" class="third-level__link">ПК</a></li>-->
<!--                    <li class="third-level__item"><a href="" class="third-level__link">Моноблоки</a></li>-->
<!--                    <li class="third-level__item"><a href="" class="third-level__link">Тонкие клиенты</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--                <li class="sub-menu__item">-->
<!--                  Ноутбуки-->
<!--                  <ul class="third-level">-->
<!--                    <li class="third-level__item"><a href="" class="third-level__link">Трансформеры</a></li>-->
<!--                    <li class="third-level__item"><a href="" class="third-level__link">Защищенные</a></li>-->
<!--                    <li class="third-level__item"><a href="" class="third-level__link">Многофункциональные</a></li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--                <li class="sub-menu__item">-->
<!--                  Планшеты-->
<!--                  <ul class="third-level">-->
<!--                    <li class="third-level__item">-->
<!--                      <a href="" class="third-level__link">Защищенные-->
<!--                      </a></li>-->
<!--                    <li class="third-level__item">-->
<!--                      <a href="" class="third-level__link">Многофункциональные</a>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--                <li class="sub-menu__item">-->
<!--                  КПК-->
<!--                  <ul class="third-level">-->
<!--                    <li class="third-level__item">-->
<!--                      <a href="" class="third-level__link">Защищенные-->
<!--                      </a>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </li>-->
<!--          <li class="second-menu__item">-->
<!--            <a href="" class="second-menu__link">Серверы</a>-->
<!--            <div class="sub-menu">-->
<!--              <ul class="sub-menu__list container">-->
<!--                <li class="sub-menu__item">Настольные ПК</li>-->
<!--                <li class="sub-menu__item">Ноутбуки</li>-->
<!--                <li class="sub-menu__item">Планшеты</li>-->
<!--                <li class="sub-menu__item">КПК</li>-->
<!--              </ul>-->
<!--            </div>-->
<!--          </li>-->
<!--          <li class="second-menu__item"><a href="" class="second-menu__link">Системы хранения</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--      <div class="ml-auto col-lg-2">-->
<!--        <ul class="second-menu__list">-->
<!--          <li class="second-menu__item"><a href="" class="second-menu__link">Где купить</a></li>-->
<!--          <li class="second-menu__item"><a href="" class="second-menu__link">Поддержка</a></li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</nav>-->
