<div class="popup popup-info modal fade" id="popup-one" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content popup__content">
      <h2 class="popup__title">Производство</h2>
      <button type="button" class="close btn-reset popup__close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <svg width="20" height="20">
            <use xlink:href="assets/img/sprite.svg#close-modal"></use>
          </svg>
        </span>
      </button>
        <p>Наша компания разрабатывает, производит и поставляет решения для любого сектора рынка.</p>
        <p>Наше производство отвечает всем мировым стандартам качества.</p>
        <p>Особое внимание мы уделяем надёжности поставляемого оборудования, поэтому на производстве введен двойной
          контроль качества, включающий не только тестирование исходных комплектующих, но и проверку всех выходящих с
          завода
          систем.</p>
        <p>Наш подход позволяет создавать конкурентные и эффективные решения для каждого клиента.</p>
      <a class="btn btn-reset popup__btn">Посмотреть продукцию</a>
    </div>
  </div>
</div>
<div class="popup popup-info modal fade" id="popup-two" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content popup__content">
      <h2 class="popup__title">Финансирование</h2>
      <button type="button" class="close btn-reset popup__close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <svg width="20" height="20">
            <use xlink:href="assets/img/sprite.svg#close-modal"></use>
          </svg>
        </span>
      </button>
      <p>Наша компания предлагает широкий пакет финансовых услуг, таких как отсрочка платежа, кредит, лизинг, банковские
        гарантии.</p>
      <p>С привлечением финансирования, нашими заказчиками реализовано множество проектов с поставкой самого
        разнообразного типа оборудования от компьютеров и ноутбуков до высоконагруженных информационных систем.</p>
      <p>Кроме этого, нами разработан и реализован удобный механизм финансирования участия в любых конкурсных процедурах.
        Мы готовы поддержать наших авторизованных партнеров на любых тендерных площадках, как государственных, так и
        коммерческих клиентов.</p>
      <a class="btn btn-reset popup__btn">Посмотреть продукцию</a>
    </div>
  </div>
</div>
<div class="popup popup-info modal fade" id="popup-three" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content popup__content">
      <h2 class="popup__title">Сервис</h2>
      <button type="button" class="close btn-reset popup__close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">
          <svg width="20" height="20">
            <use xlink:href="assets/img/sprite.svg#close-modal"></use>
          </svg>
        </span>
      </button>
      <p>Сервисный центр нашей компании производит полное гарантийное и сервисное обслуживание систем собственного
        производства. Также мы предлагаем нашим заказчикам расширенный сервис, позволяющий увеличить срок гарантии и
        сократить время реакции на инциденты.</p>
      <p>Наши инженеры обладают всеми необходимыми сертификатами, и подготовлены решать поставленные задачи в самые
        короткие сроки.</p>
      <a class="btn btn-reset popup__btn">Посмотреть продукцию</a>
    </div>
  </div>
</div>



