.footer {
  padding: 60px 0 90px 40px;
  background-color: #2e2e2e;
  color: #fff;
  @include r(1024) {
    padding-bottom: 30px;
  }
  @include r(576) {
    padding-left: 0;
  }
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  &__logo {
    display: block;
    margin-bottom: 17px;
  }
  &__slogan {
    font-size: 12px;
  }
  &__info-links {
    display: flex;
    gap: 0 60px;
    a {
      font-weight: 500;
      font-size: 18px;
    }
  }
  &__link {
    display: block;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.3;
    &:not(:last-child) {
      margin-bottom: 20px;
    }
    @include r(576) {
      font-size: 16px;
    }
  }
  &__btn {
    display: block;
    margin-left: auto;
  }
}
.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  @include r(480) {
    margin-bottom: 30px;
  }
  &__caption {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }
}
