.popup {
  display: none;
  top: 20%;
  @include r(576) {
    top: 0;
  }
  &__content {
    margin: 0 auto;
    padding: 60px 40px 40px;
    background: #fff;
    border-radius: 15px;
    width: 800px;
    max-width: 100%;
    @include r(768) {
      max-width: 98%;
    }
  }
  &__title {
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 36px;
    line-height: 1.3;
    text-align: center;
    color: #2E2E2E;
    text-transform: uppercase;
    @include r(768) {
      font-size: 24px;
    }
  }
  p {
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
    color: #616161;
    @include r(768) {
      font-size: 16px;
    }
  }
  &__btn {
    display: block;
    margin: 30px auto 0;
    @include r(576) {
      padding: 12px;
      font-size: 16px;
    }
  }
  .modal-dialog {
    max-width: 100%;
  }
  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
  }
}
.modal-backdrop.show {
  opacity: 0.7;
}
